spring:
  datasource:
    url: jdbc:h2:file:/data/h2db;AUTO_SERVER=TRUE
  jpa:
    hibernate:
      ddl-auto: update
  mail:
    host: mailpit
    port: 1025
management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        endpoint: http://zipkin:9411/api/v2/spans